.welcome-message {
  text-align: center;
}

.welcome-message h2 {
  text-align: center;
  padding: .25em 0;
  margin: 0 0 2em;
  background: #d3d3d3;
}

.dashboard-calendar-container {
  height: 450px;
  width: 70%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 0;
}

.reservations-button {
  display: block;
  background: #E55E59;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 4px;
  padding: 10px;
  text-decoration: none;
}

.dashboard-protected-data {
  display: inline-block;
  width: 25%;
  padding: 1em;
  background: #FFE554;
  border-radius: 4px;
  margin-right: 15px;
}

.dashboard-protected-data h2 {
  font-size: 1.25em;
  border-bottom: 2px solid #000;
  padding-bottom: 2px;
  margin-top: 0;
}

.dashboard-container {
  margin: 0 auto;
  width: 85%;
}

.active-res-property {
  font-size: 1.2em;
  font-weight: bold;
  text-align: center;
}

.active-res-time {
  text-align: center;
}