.welcome-message,
.dashboard-protected-data p {
  text-align: center;
}

.calendar-container {
  height: 580px;
}

.reservations-button {
  display: block;
  width: 140px;
  margin: 10px auto;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px 10px;
  text-decoration: none;
}