.welcome-message {
  text-align: center;
}

.welcome-message h2 {
  text-align: center;
  padding: .25em 0;
  margin: 0 0 2em;
  background: #d3d3d3;
  font-size: .9em;
}

.dashboard-calendar-container {
  height: 250px;
  width: 95%;
  margin: 0 auto;
  display: block;
  position: relative;
  z-index: 0;
}

.reservations-button {
  display: block;
  margin: 0 15%;
  background: #FFF;
  color: #3A7C98;
  border: 3px solid #E55E59;
  font-weight: bold;
  font-size: .9em;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
  margin-top: 15px;
  text-decoration: none;
}

.dashboard-protected-data {
  display: block;
  width: 90%;
  margin: 0 auto 1em;
  padding: .5em;
  background: #FFE554;
  border-radius: 4px;
}

.dashboard-protected-data h2 {
  display: inline-block;
  font-size: .9em;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
  margin: 0;
}

.dashboard-container {
  margin: 0 auto;
  width: 95%;
}

.active-res-property {
  font-size: .9em;
  font-weight: bold;
  text-align: center;
}

.active-res-time {
  text-align: center;
  margin-bottom: .5em;
  font-size: .8em;
}

.active-res-message {
  text-align: center;
  font-style: italic;
}

.rbc-calendar .rbc-toolbar .rbc-toolbar-label {
  font-size: .9em;
}

.rbc-calendar .rbc-toolbar button {
  font-size: 8px;
  padding: .15rem .25rem;
}

.rbc-calendar .rbc-header {
  font-size: 45%;
}

.rbc-calendar .rbc-date-cell {
  padding-right: 2px;
}

.rbc-calendar .rbc-event {
  padding: 1px 3px;
  border: none;
  border-radius: 2px;
}

.rbc-calendar .rbc-row-segment .rbc-event-content {
  font-size: 1.2em;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 550px) {
  .dashboard-container {
    width: 90%;
  }
  .dashboard-protected-data {
    width: 75%;
    margin: 0 auto 2em;
  }
  .dashboard-protected-data h2 {
    font-size: 1em;
    border-bottom: 2px solid #000;
  }
  .dashboard-calendar-container {
    height: 450px;
    width: 100%;
  }
  .welcome-message h2 {
    font-size: 1.5em;
  }
  .active-res-property {
    font-size: 1.2em;
    margin-top: 1em;
  }
  .active-res-time {
    font-size: 1em;
  }
  .reservations-button {
    font-size: 1.1em;
    padding: 10px;
    margin: 0 20%;
  }
  .dashboard-calendar-container {
    height: 450px;
  }
  .rbc-calendar .rbc-toolbar .rbc-toolbar-label {
    font-size: 1.25em;
  }
  .rbc-calendar .rbc-toolbar button {
    font-size: .7em;
    padding: .375rem 1rem;
  }
  .rbc-calendar .rbc-header {
    font-size: 90%;
  }
  .rbc-calendar .rbc-date-cell {
    padding-right: 5px;
  }
  .rbc-calendar .rbc-event {
    padding: 2px 5px;
  }
  .rbc-calendar .rbc-row-segment .rbc-event-content {
    font-size: 1em;
  }
}

@media only screen and (min-width: 875px) {
  .dashboard-protected-data {
    display: inline-block;
    width: 28%;
    padding: 1em;
    border-radius: 4px;
    margin: 0 20px 0 0;
  }
  .reservations-button {
    margin: 30px 0 0;
    font-size: 1em;
  }
  .dashboard-container {
    width: 85%;
  }
  .dashboard-calendar-container {
    width: 65%;
    display: inline-block;
    vertical-align: top;
  }
}

@media only screen and (min-width: 1200px) {
  .dashboard-protected-data h2 {
    font-size: 1.25em;
  }
  .dashboard-container {
    width: 80%;
  }
  .dashboard-calendar-container {
      height: 600px;
  }
}