.save-property-button,
.delete-property-button,
.submit-property-button {
  border-radius: 4px;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.new-property h2 {
  text-align: center;
  padding: .25em 0;
  margin: 0;
  background: #d3d3d3;
}

.edit-property h2 {
  text-align: center;
  padding: .25em 0;
  margin: 0;
  background: #d3d3d3;
}

.save-property-button,
.delete-property-button {
  display: inline-block;
  width: 45%;
  margin-top: 1em;
}

.save-property-button {
  margin-right: 8%;
  margin-left: 1%;
  background: #E55E59;
  color: #fff;
}

.delete-property-button {
  background: #5A5A5A;
  color: #fff;
  font-weight: bold;
}

.submit-property-button {
  width: 99%;
  display: block;
  margin: 1em auto;
  background: #E55E59;
  color: #fff;
  font-weight: bold;
}

fieldset {
  margin-top: 1em;
}

.form-section {
  margin-top: .5em;
}

legend {
  font-weight: bold;
}

.list-property {
  width: 50%;
  margin: 0 auto;
}

.list-property h2 {
  text-align: center;
}

.form-input {
  display: inline-block;
}

#property-type {
  margin-right: 1em;
}

.address-label {
  width: 80px;
  display: inline-block;
}

.address-name {
  width: 170px;
  display: inline-block;
  font-weight: bold;
  font-size: 1.25em;
  margin: 1em 0;
}