.footer {
	padding: .5em;
	background: #4A4A4A;
	text-align: center;
	margin-top: 2em;
}
.footer p {
	text-align: center;
	color: #fff;
}
.footer img {
	width: 75px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 550px) {
	.footer {
		padding: 1em;
	}
}