.header-bar {
  padding: 1em 1.5em;
  background: #4A4A4A;
}

.header-bar h1 {
  display: inline-block;
  margin: 0;
  color: #fff;
}

.header-bar img {
  width: 150px;
}

.logout-button {
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: #3A7C98;
  padding: 5px 10px;
  margin-top: 9px;
  float: right;
  cursor: pointer;
}