@import url('https://fonts.googleapis.com/css?family=Chango|Lato:300,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Chango', sans-serif;
}

h3 {
  font-size: 1.5em;
}