@import url('https://fonts.googleapis.com/css?family=Chango|Lato:300,700');

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

h2 {
  font-family: 'Chango', sans-serif;
}

h3 {
  font-size: 1.5em;
}

button:focus,
input:focus { 
  outline: none; 
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}