.home h2 {
  text-align: center;
  padding: 0 10px;
}

.home p,
.home a {
  display: inline-block;
}

.login-wrapper,
.demo-wrapper {
  text-align: center;
}

.demo-wrapper p {
  margin: 0;
}

.demo-wrapper span {
  font-weight: bold;
}

.home .ribbon {
  margin-top: 5em;
}

.home .ribbon h2 {
  margin: 0 0 .5em;
  font-size: 1.2em;
}

.home .ribbon p {
  width: 95%;
  margin: 0 auto 1em;
  font-size: .9em;
}

.image-wrapper {
  box-shadow: 0px 0px 8px 1px rgba(90,90,90,1);
  border-radius: 10px;
  width: 95%;
  margin: 0 auto;
}

.image-wrapper img {
  width: 99%;
  padding-top: 5px;
}


/* MEDIA QUERIES */
@media only screen and (min-width: 550px) {
  .home .ribbon h2 {
    font-size: 1.5em;
  }
  .home .ribbon p {
    font-size: 1em;
  }
  .image-wrapper {
    width: 80%;
  }
}

@media only screen and (min-width: 850px) {
  .home .ribbon p {
      width: 600px;
  }
  .image-wrapper {
    width: 65%;
  }
}

@media only screen and (min-width: 1350px) {
  .image-wrapper {
    width: 50%;
  }
}