/* .home > h2 {
  padding: .25em 0;
  margin: 0 0 2em;
  background: #d3d3d3;
} */

.home h2 {
  text-align: center;
  margin-top: 2.5em;
}

.home a {
  display: block;
  width: 150px;
  margin: 0 auto;
}