.login-form h2 {
  text-align: center;
  padding: .25em 0;
  margin: 0 0 2em;
  background: #d3d3d3;
  font-size: .9em;
}

.login-form-section {
  width: 150px;
  margin: 0 auto;
}

.login-button {
  color: #fff;
  background-color: #3A7C98;
  font-weight: bold;
  width: 105%;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 1em;
}

#username,
#password,
#passwordConfirm,
#firstName,
#lastName {
  width: 100%;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 550px) {
  .login-form h2 {
    font-size: 1.5em;
  }
}