.login-form h2 {
  text-align: center;
  padding: .25em 0;
  margin: 0 0 2em;
  background: #d3d3d3;
}

.login-form-section {
  width: 150px;
  margin: 0 auto;
}

.login-button {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}