.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(74, 74, 74, .85);
}

.modal-content {
  position: absolute;
  top: 15%;
  left: 5%;
  right: 5%;
  bottom: 55%;
  border: 1px solid #ccc;
  background: #fff;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  z-index: 999;
}

.modal-content h2 {
  font-size: 1em;
  margin: 1em 0;
}

.modal-content p {
  margin: 0 0 .5em;
}

.modal-content span {
  font-weight: 700;
  padding-right: 1em;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 3px;
  border: none;
  cursor: pointer;
}

.modal-button svg {
  height: 30px;
  width: 30px;
}

.modal-dates {
  margin-top: .5em;
  margin-bottom: 0;
}

.delete-res-button {
  color: #E55E59;
  border: none;
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 5px;
  bottom: 10px;
}

.delete-res-button svg {
  width: 40px;
  height: 40px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 550px) {
  .modal-content {
    top: 30%;
    left: 30%;
    right: 30%;
    bottom: 40%;
    padding: 10px 40px;
  }
  .modal-content h2 {
    font-size: 1.2em;
    margin: .5em 0 1.5em;
  }
  .modal-content p {
    margin: 1em 0;
  }
}

@media only screen and (min-width: 850px) {

}

@media only screen and (min-width: 1350px) {

}