.property-container {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 60px;
	margin-right: 10px;
	cursor: pointer;
}
.property-container:hover .property-thumbnail {
	opacity: 0.2;
}
.property-container:hover .middle {
	opacity: 1;
}
.middle {
	transition: .5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}
.text {
	color: #3A7C98;
	font-size: 11px;
}
.properties > h3 {
	text-align: center;
	margin-top: 1.5em;
	font-size: .9em;
}
.property-thumbnails {
	text-align: center;
}
.property-thumbnail {
	border-radius: 5px;
	opacity: 1;
	display: inline-block;
	width: 100%;
	height: 100%;
	transition: .5s ease;
	backface-visibility: hidden;
}
.add-property-button {
	display: inline-block;
	vertical-align: top;
	color: #fff;
	background: #d3d3d3;
	width: 60px;
	height: 60px;
	line-height: 60px;
	border-radius: 5px;
	text-decoration: none;
}
.add-property-button svg {
	width: 30px;
	height: 30px;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 550px) {
	.property-container {
		width: 100px;
		height: 100px;
		margin-right: 10px;
	}
	.add-property-button {
		width: 100px;
		height: 100px;
		line-height: 100px;
		border-radius: 10px;
	}
	.property-thumbnail {
		border-radius: 10px;
	}
	.properties > h3 {
		margin-top: 3em;
		font-size: 1.5em;
	}
	.add-property-button svg {
		width: 50px;
		height: 50px;
	}
	.text {
		color: #3A7C98;
		font-size: 16px;
		font-weight: bold;
	}
}
@media only screen and (min-width: 700px) {
	.property-container {
		width: 125px;
		height: 125px;
		margin-right: 25px;
	}
	.add-property-button {
		width: 125px;
		height: 125px;
		line-height: 125px;
		border-radius: 15px;
	}
	.property-thumbnail {
		border-radius: 15px;
	}
}