.properties > h3 {
  text-align: center;
}

.property-thumbnails {
  text-align: center;
}

.property-thumbnails img {
  width: 150px;
  height: 150px;
  margin-right: 15px;
  border-radius: 10px;
}

.add-property-button {
  display: inline-block;
  vertical-align: top;
  color: #fff;
  background: lightgray;
  width: 150px;
  height: 150px;
  line-height: 150px;
  border-radius: 10px;
  text-decoration: none;
}

.add-property-button svg {
  width: 50px;
  height: 50px;
}