.property-image, 
.property-info {
  display: inline-block;
}

.property-info {
  vertical-align: top;
  width: 65%;
}

.property-info h4 {
  padding-left: 6%;
  text-align: left;
  margin-top: .5em;
  font-size: 1.25em;
}

.property-info ul {
  text-align: left;
  padding-left: 6%;
}

.property-info li {
  list-style: none;
  margin-bottom: 10px;
}

.property-image {
  width: 35%;
}

.property-image img {
  width: 100%;
  height: 157.5px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  vertical-align: middle;
}

.edit-property-button {
  margin-left: 6%;
}

.selected-property {
  display: inline-block;
  background: #fff;
  /* border: 4px solid #3A7C98; */
  box-shadow: 0px 0px 8px 1px rgba(90,90,90,1);
  border-radius: 10px;
  width: 450px;
}
