.property-details {
  text-align: center;
}

.property-image, 
.property-info {
  display: inline-block;
}

.property-info {
  vertical-align: top;
  font-size: 1.25em;
}

.property-info ul {
  text-align: left;
}

.property-info li {
  list-style: none;
  margin-bottom: 10px;
}

.property-image img {
  width: 250px;
  height: 250px;
  border-radius: 10px;
}

.edit-property-button {
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px 10px;
  text-decoration: none;
}

.selected-property {
  display: inline-block;
  width: 50%;
}
