.reservations > h2 {
  text-align: center;
  padding: .25em 0;
  margin: 0;
  background: #d3d3d3;
}

.reservations > h3 {
  text-align: center;
  margin-top: 3em;
}

.calendar-container {
  height: 580px;
  width: 725px;
  margin: 1em auto 3em;
  position: relative;
  z-index: 0;
}

.rbc-event {
  background-color: #3A7C98;
  color: #FFE554;
  border: 2px solid #3A7C98;
}

.reservation-section {
  width: 700px;
  margin: 1em auto 3em;
  border: 10px solid #FFE554;
  border-radius: 10px;
  background: #FFE554;
}

.rbc-toolbar .rbc-toolbar-label {
  text-align: right;
  font-weight: bold;
  font-size: 1.25em;
}